

.cy_button{
    cursor:pointer;
    font-size:20px;
    outline:none;
    padding:10px 20px;
    color:white;
    text-transform: uppercase;
    border-radius:20px;
    letter-spacing: 1.5px;
    border: 1px solid rgba(255,255,255,0.75);
    background-image: url('../../Assets/btnBg1.png');
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transition:1s cubic-bezier(0.02, 0.8, 0.2, 1);
}

.cy_button:hover {
    color:white;
    background-color:rgba(255,255,255);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px)
}

@media(max-width:640px){
    .cy_button{
          font-size:14px;
          padding:5px 10px;
       
     }
}
